[build]
builder = "nixpacks"

[deploy]
startCommand = "python manage.py makemigrations && python manage.py migrate && python manage.py create_superuser_if_missing && gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
