Django==5.2
djangorestframework==3.16.0
reportlab==4.2.5
PyPDF2==3.0.1
whitenoise==6.8.2
gunicorn==21.2.0
asgiref==3.8.1
sqlparse==0.5.3
pillow==11.1.0
tzdata==2025.1
charset-normalizer==3.4.1
chardet==5.2.0
weasyprint==62.3
psycopg2-binary==2.9.10
dj-database-url==2.3.0
python-dotenv==1.0.1
