Django==6.0.2
djangorestframework==3.16.1
reportlab==4.4.10
PyPDF2==3.0.1
whitenoise==6.11.0
gunicorn==21.2.0
asgiref==3.11.1
sqlparse==0.5.5
pillow==12.1.1
tzdata==2025.3
charset-normalizer==3.4.4
chardet==6.0.0.post1
weasyprint==59.0
